USE [master]
GO
/****** Object:  Database [rehber]    Script Date: 3.07.2018 14:28:58 ******/
CREATE DATABASE [rehber]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rehber', FILENAME = N'C:\Users\TugceNur\rehber.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rehber_log', FILENAME = N'C:\Users\TugceNur\rehber_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rehber].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rehber]
GO
/****** Object:  Table [dbo].[birim]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[birim](
	[birimid] [int] IDENTITY(1,1) NOT NULL,
	[birimadi] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dersler]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dersler](
	[dersid] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gorev]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gorev](
	[gorevid] [int] IDENTITY(1,1) NOT NULL,
	[gorevadi] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[kullaniciid] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciadi] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
 CONSTRAINT [PK_kullanicilar] PRIMARY KEY CLUSTERED 
(
	[kullaniciid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci](
	[ogrenciid] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NOT NULL,
	[soyad] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogrenciders]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenciders](
	[ogrenciid] [int] NOT NULL,
	[dersid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 3.07.2018 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[personelid] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NOT NULL,
	[soyad] [varchar](50) NOT NULL,
	[birimid] [int] NULL,
	[gorevid] [int] NULL,
	[maas] [int] NULL,
 CONSTRAINT [PK_personel] PRIMARY KEY CLUSTERED 
(
	[personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[birim] ON 

INSERT [dbo].[birim] ([birimid], [birimadi]) VALUES (1, N'bilgi islem')
INSERT [dbo].[birim] ([birimid], [birimadi]) VALUES (2, N'etut plan')
INSERT [dbo].[birim] ([birimid], [birimadi]) VALUES (3, N'proje insaat')
SET IDENTITY_INSERT [dbo].[birim] OFF
SET IDENTITY_INSERT [dbo].[gorev] ON 

INSERT [dbo].[gorev] ([gorevid], [gorevadi]) VALUES (1, N'muhendis')
INSERT [dbo].[gorev] ([gorevid], [gorevadi]) VALUES (2, N'ik')
INSERT [dbo].[gorev] ([gorevid], [gorevadi]) VALUES (3, N'proje')
SET IDENTITY_INSERT [dbo].[gorev] OFF
SET IDENTITY_INSERT [dbo].[kullanicilar] ON 

INSERT [dbo].[kullanicilar] ([kullaniciid], [kullaniciadi], [sifre]) VALUES (1, N'furkan', N'123456')
INSERT [dbo].[kullanicilar] ([kullaniciid], [kullaniciadi], [sifre]) VALUES (2, N'tugce', N'123456')
INSERT [dbo].[kullanicilar] ([kullaniciid], [kullaniciadi], [sifre]) VALUES (3, N'huseyin', N'123456')
SET IDENTITY_INSERT [dbo].[kullanicilar] OFF
SET IDENTITY_INSERT [dbo].[ogrenci] ON 

INSERT [dbo].[ogrenci] ([ogrenciid], [ad], [soyad]) VALUES (1, N'tugce nur', N'uzun')
INSERT [dbo].[ogrenci] ([ogrenciid], [ad], [soyad]) VALUES (2, N'eren', N'can')
INSERT [dbo].[ogrenci] ([ogrenciid], [ad], [soyad]) VALUES (3, N'sadik', N'uzun')
SET IDENTITY_INSERT [dbo].[ogrenci] OFF
SET IDENTITY_INSERT [dbo].[personel] ON 

INSERT [dbo].[personel] ([personelid], [ad], [soyad], [birimid], [gorevid], [maas]) VALUES (1, N'ali', N'duru', 1, 2, NULL)
INSERT [dbo].[personel] ([personelid], [ad], [soyad], [birimid], [gorevid], [maas]) VALUES (2, N'tugce', N'uzun', 2, 2, NULL)
INSERT [dbo].[personel] ([personelid], [ad], [soyad], [birimid], [gorevid], [maas]) VALUES (1002, N'tugce', N'nur', 2, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[personel] OFF
/****** Object:  StoredProcedure [dbo].[ilkprocedure]    Script Date: 3.07.2018 14:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[ilkprocedure]
 
as
 
begin
declare @kayitsayisi int
set @kayitsayisi=0
while @kayitsayisi<1000
begin
insert into personel (ad,soyad,birimid,gorevid)
values('tugce','nur',2,3)
Set @kayitsayisi=@kayitsayisi+1
end
end
GO
USE [master]
GO
